<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
<nav>
  <h1>Welcome to our Company: <span th:text="${company.name}"></span></h1>
  <td>
    <img th:src="'data:image/jpeg;base64,' + ${company.logo}" />
  </td>
</nav>
<table>
  <tr>
    <th>Profile Picture</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Birthdate</th>
    <th>Matricule</th>
    <th>Country Code</th>
    <th>Phone Number</th>
    <th>Address</th>
    <th>Personal Email</th>
    <th>Profesional Email</th>
    <th>CINDate</th>
    <th>CINNUmber</th>
    <th>CINPlace</th>
    <th>Position</th>
    <th>Number Children</th>
    <th>Socio-Professional Category</th>
    <th>CNAPS</th>
    <th>Departure Date</th>
    <th>Hiring Date</th>
    <th>SEXE</th>
    <th>Edit</th>
  </tr>
  <tr th:each="employee : ${employee}">
    <td>
      <img th:src="'data:image/jpeg;base64,' + ${employee.picture}"/>
    </td>
    <td th:text="${employee.firstName}"></td>
    <td th:text="${employee.lastName}"></td>
    <td th:text="${employee.birthDate}"></td>
    <td th:text="${employee.matricule}"></td>
    <td th:text="${employee.countryCode}"></td>
    <td th:text="${employee.phoneNumber}"></td>
    <td th:text="${employee.address}"></td>
    <td th:text="${employee.emailPerso}"></td>
    <td th:text="${employee.emailPro}"></td>
    <td th:text="${employee.CINDate}"></td>
    <td th:text="${employee.CINNumber}"></td>
    <td th:text="${employee.CINPLace}"></td>
    <td th:text="${employee.position}"></td>
    <td th:text="${employee.childrenNumber}"></td>
    <td th:text="${employee.CSP}"></td>
    <td th:text="${employee.cnapsNumber}"></td>
    <td th:text="${employee.departureDate}"></td>
    <td th:text="${employee.entranceDate}"></td>
    <td th:text="${employee.sexe}"></td>
    <td><a th:href="@{/employees/{id}/edit(id=${employee.id})}">Edit</a></td>
  </tr>
</table>
</body>
</html>